:root {
    --clr-primary: hsl(240, 49%, 48%);
    --clr-neutral-900: hsl(0 0% 0%);
    --clr-neutral-300: hsl(0 0% 20%);
    --clr-neutral-400: hsl(0 0% 30%);
    --clr-neutral-100: hsl(0 0% 100%);
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
    background-color: var(--clr-neutral-300);
    color: var(--clr-neutral-100);
}

header {
    grid-row: 1;
    grid-column: 1 / -1;
}

header h1 {
    font-size: 2rem;
    margin-block: 0;
    padding-block: 2rem;
    background-color: var(--clr-primary);
    text-align: center;
}

nav {
    grid-row: 2;
    grid-column: 1;
    overflow-y: auto;
    background-color: var(--clr-neutral-400);
}

main {
    grid-row: 2;
    grid-column: 2;
    overflow-y: auto;
    padding: 1rem;
}

nav ol {
    margin: 1rem;
}

nav li a {
    display: inline-block;
    color: var(--clr-neutral-100);
    font-size: 1.2rem;
    padding-block: .3rem;
}